elasticsearch/jdk/lib/modules filter=lfs diff=lfs merge=lfs -text
elasticsearch/modules/x-pack-ml/platform/windows-x86_64/bin/torch_cpu.dll filter=lfs diff=lfs merge=lfs -text
.docker_temp_122303791 filter=lfs diff=lfs merge=lfs -text
